<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uapps Share</title>
    <link rel="stylesheet" href="{{url}}assets/style.css">
    {{!-- <meta http-equiv = "refresh" content = "0; url = {{urlRedirect}}" /> --}}
    {{!-- Meta SEO --}}
    <link rel="canonical" href = "https://dazelpro.com/article/latihan-membuat-website-statis-dengan-express-js">
    <meta name="title" content="Latihan Membuat Website Statis dengan Express.js" />
    <meta name="description" content="Tutorial membuat website statis menggunakan Node.js dengan framework Express.js dan view engine EJS." />

    <meta name="og:title" content="Latihan Membuat Website Statis dengan Express.js" />
    <meta name="og:description" content="Tutorial membuat website statis menggunakan Node.js dengan framework Express.js dan view engine EJS." />
    <meta name="og:type" content="content" />
    <meta name="og:locale" content="id_ID" />
    <meta name="og:locale:alternate" content="ms_MY" />
    <meta name="og:image" itemprop="image" content="https://cdn.dazelpro.com/uploads/small/125d53aaca2c76d75ec464b7a002aa57.jpg" />
    <meta name="og:site_name" content="DAZELPRO" />
    <meta name="og:url" content="https://dazelpro.com/" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://cdn.dazelpro.com/uploads/small/125d53aaca2c76d75ec464b7a002aa57.jpg" />
    <meta name="twitter:creator" content="ITAPP" />
    <meta name="twitter:description" content="Tutorial membuat website statis menggunakan Node.js dengan framework Express.js dan view engine EJS." />
    <meta name="twitter:title" content="Latihan Membuat Website Statis dengan Express.js" />
    {{!-- End --}}
</head>
<body>
    <div>
        <p>{{textDisplay}}</p>
    </div>
</body>
</html>